<% if line_item == @current_item %>
<tr id="current-item">
<% else %>
<tr>
<% end %>
  <td><%= line_item.quantity %> &times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item-price"><%= number_to_currency(line_item.total_price) %></td>
  <td>
    <%= button_to '-', decrement_line_item_url(line_item), method: :patch, remote: true %>
  </td>
  <td>
    <%= button_to 'x', line_item, method: :delete,
                                  remote: true,
                                  data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
