<p id="notice"><%= notice %></p>

<% if session[:visit_count] && session[:visit_count] > 5 %>
  <span>You've been here <%= pluralize(session[:visit_count], "time") %></span>
<% end %>

<h1>Your Pragmatic Catalog</h1>

<% cache @products do %>
  <% @products.each do |product| %>
    <% cache product do %>
      <% if product == @updated_product %>
      <div class="entry updated-product">
      <% else %>
      <div class="entry">
      <% end %>
        <%= link_to line_items_path(product_id: product.id), method: :post, remote: true do %>
          <%= image_tag(product.image_url) %>
        <% end %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class="price-line">
          <span class="price"><%= number_to_currency(product.price) %></span>
          <%= button_to 'Add to Cart', line_items_path(product_id: product.id), remote: true %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
